.image-box {
    background-repeat: .6rem;
    border-style: 0px 0px 15px gray;
    &:hover {
        box-shadow: 0px 0px 25px gray;
    }
    &__image {
        background: url('../assets/img/one.jpg') center/cover no-repeat;
        height: 22rem;
        display: block;
        border-top-left-radius: .6rem;
        border-top-right-radius: .6rem;
        @include medium{
            height: 16rem;
        }
        &--next {
            background: url('../assets/img/two.jpeg') center/cover no-repeat;
        }
    }

    &__text {
        text-align: center;
        padding: 1rem;
        font-size: 1.8rem;
    }
}